.logoText {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.breadcrumb a {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: -0.03rem;
  line-height: 1;
  color: #464c59;
  text-decoration: none;
}

.list_group {
  padding-top: 2rem;
}

.list_group .MuiListItemIcon-root {
  min-width: 3rem;
}

.list_group .MuiSvgIcon-root {
  font-size: 1rem;
}

.list_group .MuiListItem-button:hover,
.list_group .MuiListItem-button.active {
  background-color: #fff;
  color: #464c59;
}

.list_group .MuiListItem-button:hover .fa,
.list_group .MuiListItem-button.active .fa {
  color: #31b5e0;
}

.list_group .MuiListItem-button.active:after {
  content: "";
  position: relative;
  width: 5px;
  height: 22px;
  right: -1rem;
  background: #31b5e0;
}

.fa {
  color: #95a7c3;
  font-size: 1.125rem;
}

.titleHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.titleHolder h2 {
  margin: 0;
}

.btnHolder>button:not(:last-child) {
  margin-right: 5px;
}

.MuiButtonGroup-contained {
  box-shadow: none;
}

.filter,
.filter.MuiButtonGroup-contained {
  position: relative;
  box-shadow: none;
}

.filter:hover,
.filter.MuiButtonGroup-contained:hover {
  box-shadow: none;
}

.filter button:hover {
  box-shadow: none;
}

.grBtnAbs {
  position: absolute !important;
  width: 100%;
  height: 100%;
  background: transparent !important;
}

tspan {
  color: #898989;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.searchField input::placeholder {
  opacity: 1;
}

button {
  font-weight: normal !important;
}

.chartData {
  color: #3b3f4f;
}

@media (max-width: 959px) {
  .chartDataWrap>div {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .titleHolder {
    flex-direction: column;
    align-items: flex-start;
  }

  .titleHolder .btnHolder {
    align-self: flex-end;
    margin-top: 2rem;
  }
}